.blue-bar {
  background: linear-gradient(135deg, #2c5aa0, #4a90e2);
  color: white;
  
  grid-column: 1 / -1;
  bottom: 0;

  width: 127%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 20px, 50px;

  border-radius: 12px;
}
