.overstap-container {
  grid-column: 1 / -1;
  display: grid;
  gap: 20px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.hero-overstap {
  background: linear-gradient(135deg, #2c5aa0, #4a90e2);
  color: white;

  padding: 40px 20px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 10px auto;

  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-overstap h1 {
  margin: 0;
  font-size: clamp(24px, 3vw, 38px);
  font-weight: 700;
}

.hero-overstap p {
  opacity: 0.9;
  margin-top: 25px;
}

.card1 {
  max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  transform: translateX(535px);
}

.card1 h2 {
  margin-bottom: 10px;
}

.card2 {
  max-width: 1300px;
  height: 900px;
  margin: 20px 0px;
  background: white;
  padding: 25px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);

  margin-left: -790px;
  margin-top: -202px;

  border-radius: 12px;
}

.card2 h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 50px;
  border-bottom: black;
}

.boxes-container {
  width: 900px;
  margin: 20px auto;
  margin-top: -750px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  transform: translateX(535px);
}

ul {
  padding-left: 20px;
}

li {
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 27px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f1f5f9;
  padding: 15px;
  border-radius: 10px;
}

.num {
  width: 30px;
  height: 30px;
  background: #38bdf8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.card-highlight {

  max-width: 1300px;
  height: 900px;
  margin: 20px 0px;
  background: white;
  padding: 25px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);

  margin-left: -790px;
  margin-top: -25px;

  border-radius: 12px;
  
}

.card-highlight h2 {
  text-align: center;
}
.warning {
  border-left: 5px solid #ef4444;
}

@media (max-width: 10000px) {
  .steps {
    grid-template-columns: 1fr;
  }
}